Projet-Velib/Admin-GUI-Velib/WindowsFormsApp1/Connected Services/WS_Soap_Velib_Reference/item41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/WS_Soap_Velib/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetClientsBetweenDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsBetweenDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientsBetweenDatesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsBetweenHours">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsBetweenHoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientsBetweenHoursResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRequestsBetweenDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRequestsBetweenDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientRequestsBetweenDatesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRequestsBetweenHours">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientRequestsBetweenHoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientRequestsBetweenHoursResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJCDecauxRequestsBetweenDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJCDecauxRequestsBetweenDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJCDecauxRequestsBetweenDatesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJCDecauxRequestsBetweenHours">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJCDecauxRequestsBetweenHoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJCDecauxRequestsBetweenHoursResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJCDecauxAverageResponseTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJCDecauxAverageResponseTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetJCDecauxAverageResponseTimeResult" type="q1:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>