Projet-Velib/Admin-GUI-Velib/WindowsFormsApp1/Connected Services/WS_Soap_Velib_Reference/ServiceMonitoring.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceMonitoring" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8734/WS_Soap_Velib/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8734/WS_Soap_Velib/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMonitoring_GetClientsBetweenDates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsBetweenDates" />
  </wsdl:message>
  <wsdl:message name="IServiceMonitoring_GetClientsBetweenDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsBetweenDatesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMonitoring_GetClientsBetweenHours_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsBetweenHours" />
  </wsdl:message>
  <wsdl:message name="IServiceMonitoring_GetClientsBetweenHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsBetweenHoursResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMonitoring_GetClientRequestsBetweenDates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientRequestsBetweenDates" />
  </wsdl:message>
  <wsdl:message name="IServiceMonitoring_GetClientRequestsBetweenDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientRequestsBetweenDatesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMonitoring_GetClientRequestsBetweenHours_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientRequestsBetweenHours" />
  </wsdl:message>
  <wsdl:message name="IServiceMonitoring_GetClientRequestsBetweenHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientRequestsBetweenHoursResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMonitoring_GetJCDecauxRequestsBetweenDates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJCDecauxRequestsBetweenDates" />
  </wsdl:message>
  <wsdl:message name="IServiceMonitoring_GetJCDecauxRequestsBetweenDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJCDecauxRequestsBetweenDatesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMonitoring_GetJCDecauxRequestsBetweenHours_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJCDecauxRequestsBetweenHours" />
  </wsdl:message>
  <wsdl:message name="IServiceMonitoring_GetJCDecauxRequestsBetweenHours_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJCDecauxRequestsBetweenHoursResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMonitoring_GetJCDecauxAverageResponseTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJCDecauxAverageResponseTime" />
  </wsdl:message>
  <wsdl:message name="IServiceMonitoring_GetJCDecauxAverageResponseTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJCDecauxAverageResponseTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceMonitoring">
    <wsdl:operation name="GetClientsBetweenDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMonitoring/GetClientsBetweenDates" message="tns:IServiceMonitoring_GetClientsBetweenDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMonitoring/GetClientsBetweenDatesResponse" message="tns:IServiceMonitoring_GetClientsBetweenDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientsBetweenHours">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMonitoring/GetClientsBetweenHours" message="tns:IServiceMonitoring_GetClientsBetweenHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMonitoring/GetClientsBetweenHoursResponse" message="tns:IServiceMonitoring_GetClientsBetweenHours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientRequestsBetweenDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMonitoring/GetClientRequestsBetweenDates" message="tns:IServiceMonitoring_GetClientRequestsBetweenDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMonitoring/GetClientRequestsBetweenDatesResponse" message="tns:IServiceMonitoring_GetClientRequestsBetweenDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientRequestsBetweenHours">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMonitoring/GetClientRequestsBetweenHours" message="tns:IServiceMonitoring_GetClientRequestsBetweenHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMonitoring/GetClientRequestsBetweenHoursResponse" message="tns:IServiceMonitoring_GetClientRequestsBetweenHours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJCDecauxRequestsBetweenDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMonitoring/GetJCDecauxRequestsBetweenDates" message="tns:IServiceMonitoring_GetJCDecauxRequestsBetweenDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMonitoring/GetJCDecauxRequestsBetweenDatesResponse" message="tns:IServiceMonitoring_GetJCDecauxRequestsBetweenDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJCDecauxRequestsBetweenHours">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMonitoring/GetJCDecauxRequestsBetweenHours" message="tns:IServiceMonitoring_GetJCDecauxRequestsBetweenHours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMonitoring/GetJCDecauxRequestsBetweenHoursResponse" message="tns:IServiceMonitoring_GetJCDecauxRequestsBetweenHours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJCDecauxAverageResponseTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMonitoring/GetJCDecauxAverageResponseTime" message="tns:IServiceMonitoring_GetJCDecauxAverageResponseTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMonitoring/GetJCDecauxAverageResponseTimeResponse" message="tns:IServiceMonitoring_GetJCDecauxAverageResponseTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceMonitoring" type="tns:IServiceMonitoring">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClientsBetweenDates">
      <soap:operation soapAction="http://tempuri.org/IServiceMonitoring/GetClientsBetweenDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientsBetweenHours">
      <soap:operation soapAction="http://tempuri.org/IServiceMonitoring/GetClientsBetweenHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientRequestsBetweenDates">
      <soap:operation soapAction="http://tempuri.org/IServiceMonitoring/GetClientRequestsBetweenDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientRequestsBetweenHours">
      <soap:operation soapAction="http://tempuri.org/IServiceMonitoring/GetClientRequestsBetweenHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJCDecauxRequestsBetweenDates">
      <soap:operation soapAction="http://tempuri.org/IServiceMonitoring/GetJCDecauxRequestsBetweenDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJCDecauxRequestsBetweenHours">
      <soap:operation soapAction="http://tempuri.org/IServiceMonitoring/GetJCDecauxRequestsBetweenHours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJCDecauxAverageResponseTime">
      <soap:operation soapAction="http://tempuri.org/IServiceMonitoring/GetJCDecauxAverageResponseTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMonitoring">
    <wsdl:port name="BasicHttpBinding_IServiceMonitoring" binding="tns:BasicHttpBinding_IServiceMonitoring">
      <soap:address location="http://localhost:8734/WS_Soap_Velib/Service/Monitoring" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>