Projet-Velib/Client-Console-Velib/Client-Console-Velib/Connected Services/WS_Soap_Velib_Reference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceVelib" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/WS_Soap_Velib/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/WS_Soap_Velib/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/WS_Soap_Velib/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_Soap_Velib" />
      <xsd:import schemaLocation="http://localhost:8733/WS_Soap_Velib/Service/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceVelib_GetContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContracts" />
  </wsdl:message>
  <wsdl:message name="IServiceVelib_GetContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVelib_GetAllInformationForContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInformationForContract" />
  </wsdl:message>
  <wsdl:message name="IServiceVelib_GetAllInformationForContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllInformationForContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceVelib_GetStationInformationForContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationInformationForContract" />
  </wsdl:message>
  <wsdl:message name="IServiceVelib_GetStationInformationForContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationInformationForContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceVelib">
    <wsdl:operation name="GetContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVelib/GetContracts" message="tns:IServiceVelib_GetContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVelib/GetContractsResponse" message="tns:IServiceVelib_GetContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInformationForContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVelib/GetAllInformationForContract" message="tns:IServiceVelib_GetAllInformationForContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVelib/GetAllInformationForContractResponse" message="tns:IServiceVelib_GetAllInformationForContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationInformationForContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceVelib/GetStationInformationForContract" message="tns:IServiceVelib_GetStationInformationForContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceVelib/GetStationInformationForContractResponse" message="tns:IServiceVelib_GetStationInformationForContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceVelib" type="tns:IServiceVelib">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContracts">
      <soap:operation soapAction="http://tempuri.org/IServiceVelib/GetContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInformationForContract">
      <soap:operation soapAction="http://tempuri.org/IServiceVelib/GetAllInformationForContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationInformationForContract">
      <soap:operation soapAction="http://tempuri.org/IServiceVelib/GetStationInformationForContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceVelib">
    <wsdl:port name="BasicHttpBinding_IServiceVelib" binding="tns:BasicHttpBinding_IServiceVelib">
      <soap:address location="http://localhost:8733/WS_Soap_Velib/Service/Client" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>